.details-collection-layout {
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  transition: $sidebarAnimation;

  .details-collection-header {
    padding: 0 0 0 10px;
    min-height: 48px;
    height: $headerHeight;
    box-shadow: 0 0 35px 0 #9aa1ab26;
    background: #c6bdbd;
    color: #595c97;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width : 100%;
    z-index: 3;
    transition: $sidebarAnimation;

    .menu-toggler {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      cursor: pointer;
      font-size: 28px;
    }
  }

  .details-collection-main-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
  }

  .details-collection-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .card-wrapper {
    max-width: 500px;
  }

  .details-collection-footer-section {
    padding: 14px 30px;
    text-align: center;
    background: #fff;
    font-size: 12.5px;
    width: 100%;

    h4 {
      color: #b5b5b5;
      font-weight: 400;
    }
  }
}

@media only screen and (max-width: 1023px) {
  .details-collection-layout {
     .details-collection-container {
      padding: 15px 10px!important;
      padding-top: calc(#{$headerHeight} + 20px)!important;
    }
  }
}